* { 
    font-family: verdana;
    padding: 0px;
}

body {
    --tlo: #4C6464;
    --text: #C5B358;
    --ramka: #7F784E;
    background-color: black;
    color: var(--text);
    animation: backgroundEffect 3s forwards;
}

a {
    color: var(--text);
}

header {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
}

.menu div {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 40px;
}

.menu li{
    margin-top: 6px;
    padding: 10px;
    display: inline-block;
    border: solid 2px var(--ramka);
    list-style-type: none;
    width: 80px;
    text-align: center;
}

.menu li:hover{
    background-color: var(--ramka);
}

.head {
    text-decoration: none;
}

footer {
    margin-top: 100px;
    padding: 0px;
}

footer ul li {
    font-size: 10px;
    padding: 8px;
    list-style-type: none;
    display: inline-block;
}

@keyframes backgroundEffect {
    100% {
        background-color: var(--tlo);
    }
}

@media (min-width: 1100px) {
    body {
        /* style css - duże ekrany */
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    
        /* pionowanie menu, żeby było zawsze linią (poziom lub pion) a nie się łamało */
        .menu li{
            display: block;
        }
}

@media (max-width: 300px) {
    body {
        /* style css - tel. pionowo */
        font-size: 10px;
        width: 90%;
    }
}