* { 
    font-family: verdana;
    padding: 0px;
}

body {
    --tlo: #4C6464;
    --text: #C5B358;
    --ramka: #7F784E;
    background-position-x: center;
    background-color: black;
    color: var(--text);
    /* animation: backgroundEffPoz 3s forwards; */
    display: block;
    position: relative;
}

body::after {
    content: "";
    /* background: url("images/background-poz.jpg"); */

    opacity: 0.8;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    position: absolute;
    z-index: 1;   
}

ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    margin-top: 6px;
    padding: 10px;
    display: inline-block;
    border: solid 2px var(--ramka);
    list-style-type: none;
    width: 120px;
    cursor: pointer;
    text-align: center;
}

.shape {
    border: solid 3px var(--ramka);
    /* width: 70%; */
    opacity: 0;
    padding: 10px;
    position: absolute;
    text-align: justify;
}

.nowa {
    opacity: 1;
}

@keyframes backgroundEffPoz {
    100% {
            background-image: url("images/background-poz.jpg");
    } 
}
@keyframes backgroundEffPion {
    100% {
            background-image: url("images/background-pion.jpg");
    } 
}

/* style css - duże ekrany
@media (min-width: 1100px) {
    body {
        font-size: 30px;
    }
} */

@media (max-width: 600px) {
    body {
        /* style css - tel. pionowo */
        /* background-image: url("images/background-pion.jpg"); */
        font-size: 10px;
        background-position-x: center;
        animation: backgroundEffPion 3s forwards;
    }

    .menu li {
        width: 50px;
        height: 8px;
        padding-top: 6px;
    }
}

@media (max-width: 320px) {
    ul {
        width: 55px;
        display: block;
    }
}